<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/edc67840-474b-46bd-91e7-630f72327e60/resourcegroups/Challenge3/providers/Microsoft.ContainerRegistry/registries/NoticiasApiTests20231106091602</ResourceId>
    <ResourceName>NoticiasApiTests20231106091602</ResourceName>
    <ResourceGroup>Challenge3</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>noticiasapitests20231106091602.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>